@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pinyon+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.btnRed {
  border: none;
  border-radius: 46px;
  padding: 8px 16px;
  background: #e6533c;
  font-size: 18px;
  font-weight: 600;
}

.btnTransprent {
  border: 1px solid #ffffff;
  border-radius: 46px;
  padding: 8px 16px;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}

.header {
  background: linear-gradient(180deg, #58585880, #0000001a 100%);
  padding: 0 100px;
}

/* Navbar Style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.navTitle {
  color: #e6533c;
  font-size: 36px;
  font-weight: 800;
}

.navIcon {
  display: none; /* For big devices, it's hidden */
  color: #ffffff;
  font-size: 36px;
}

.navLinks {
  width: auto;
  border: 2px solid #ffffff1a;
  border-radius: 40px;
}

.navLinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 20px;
}
/* ====================================== */
/* ====================================== */
/* ====================================== */
/* Hero Section Style */
.heroSection {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 50px;
  padding: 20px;
}

.heroDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  padding: 50px;
}

.heroTitle {
  font-size: 80px;
  font-weight: 900;
}

.pinyonFont {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.heroSubTitle {
  opacity: 0.5;
}

.heroBtns {
  display: flex;
  gap: 15px;
}

.heroImageContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.heroImage {
  height: 100%;
}

.heroImageCard1,
.heroImageCard2 {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: #3030308a;
  padding: 20px;
}

.heroImageCard1 {
  top: 100px;
  right: 150px;
}

.heroImageCard2 {
  display: flex;
  align-items: center;
  gap: 20px;
  bottom: 50px;
  left: 100px;
}
.heroImageCard2 i {
  color: #ff0000;
}

.cardNumber {
  font-size: 40px;
  font-weight: 900;
}

.cardText {
  font-size: 16px;
  opacity: 0.5;
}

/* Change Your Habits Style */

.habitsContainer {
  text-align: center;
  padding: 0 100px;
}

.habitsContainer p {
  opacity: 0.5;
}

.habitTitle {
  font-size: 48px;
  font-weight: 900;
  padding: 20px;
}

.habitSubTitle {
  padding: 0 80px 40px 80px;
}

.habitsCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
}

.habitImage{
  border-radius: 50%;
  margin-bottom: 20px;
}

.habitCardTitle{
  font-size: 24px;
  font-weight: 800;
}

.habitCardText{
  padding: 20px;
}

/* Responsive Design */

/* For small device */
@media (max-width: 576px) {
  .header {
    padding: 0px;
  }
  .navLinks {
    display: none;
  }

  .navIcon {
    display: inline;
  }

  .navbar {
    flex-direction: row;
    padding: 20px;
  }

  .heroSection {
    flex-direction: column;
  }

  .heroDescription {
    padding: 0px;
  }

  .heroTitle {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
  }

  .heroSubTitle {
    text-align: center;
    opacity: 0.5;
  }

  .heroBtns {
    justify-content: center;
    gap: 15px;
  }

  .heroImage {
    height: 100%;
  }

  .heroImageCard1 {
    top: 90px;
    right: 10px;
  }

  .heroImageCard2 {
    bottom: 90px;
    left: 10px;
  }
}
