@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pinyon+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

p {
  opacity: 0.5;
}

.btnRed {
  border: none;
  border-radius: 46px;
  padding: 8px 16px;
  background: #e6533c;
  font-size: 18px;
  font-weight: 600;
}

.btnTransprent {
  border: 1px solid #ffffff;
  border-radius: 46px;
  padding: 8px 16px;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}

.header {
  background: linear-gradient(180deg, #58585880, #0000001a 100%);
  padding: 0 100px;
}

/* Navbar Style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.navTitle {
  color: #e6533c;
  font-size: 36px;
  font-weight: 800;
}

.navIcon {
  display: none; /* For big devices, it's hidden */
  color: #ffffff;
  font-size: 36px;
}

.navLinks {
  width: auto;
  border: 2px solid #ffffff1a;
  border-radius: 40px;
}

.navLinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 20px;
}
/* ====================================== */
/* ====================================== */
/* ====================================== */
/* Hero Section Style */
.heroSection {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 50px;
  padding: 20px;
}

.heroDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  padding: 50px;
}

.heroTitle {
  font-size: 80px;
  font-weight: 900;
}

.pinyonFont {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.heroSubTitle {
  opacity: 0.5;
}

.heroBtns {
  display: flex;
  gap: 15px;
}

.heroImageContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.heroImage {
  height: 100%;
}

.heroImageCard1,
.heroImageCard2 {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: #3030308a;
  padding: 20px;
}

.heroImageCard1 {
  top: 100px;
  right: 150px;
}

.heroImageCard2 {
  display: flex;
  align-items: center;
  gap: 20px;
  bottom: 50px;
  left: 100px;
}
.heroImageCard2 i {
  color: #ff0000;
}

.cardNumber {
  font-size: 40px;
  font-weight: 900;
}

.cardText {
  font-size: 16px;
  opacity: 0.5;
}

/* Change Your Habits Style */

.habitsContainer {
  text-align: center;
  padding: 0 100px;
}

.habitsContainer p {
  opacity: 0.5;
}

.habitTitle,
.runTitle,
.bmiTitle,
.teamTitle {
  font-size: 48px;
  font-weight: 900;
  padding: 20px 0px;
}

.habitSubTitle {
  padding: 0 80px 40px 80px;
}

.habitsCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
}

.habitImage {
  border-radius: 50%;
  margin-bottom: 20px;
}

.habitCardTitle {
  font-size: 24px;
  font-weight: 800;
}

.habitCardText {
  padding: 20px;
}

/* Extra Run Style */

.runContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  border-radius: 18px;
  background: #222222;
  padding: 30px;
  margin: 40px 100px;
}

.runText {
  padding: 20px;
}

.runSubTitle {
  padding: 20px 0;
}
.runImage {
  text-align: end;
}
.runImage img {
  border-radius: 18px;
}

/* BMI Calculator Style */

.bmiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.bmiHeader {
  margin: 40px auto;
  padding: 20px;
}

.bmiBody {
  background: #222222;
  padding: 40px 100px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.bmiChartTitle,
.calculatorTitle {
  font-size: 28px;
  margin-bottom: 20px;
}

.bmiTable {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ffffff1a;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}

td {
  font-size: 16px;
  opacity: 0.5;
}

.bmiCalculator {
  width: 100%;
}

.calculatorSubTitle {
  text-align: justify;
}

/* Form Style */
.calculatorForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

input,
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff1a;
  color: #ffffff4d;
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px #ffffff80;
  background-color: #222222;
}

#activity {
  grid-column: span 2;
}

/* Meet Our Team Style */
.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 100px;
}
.teamSubTitle {
  padding-bottom: 20px;
}

.teamMembers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: space-between;
  background: #222222;
  padding: 30px;
  margin: 20px 150px;
  border-radius: 18px;
}
.teamMember {
  position: relative;
}

.trainerInfo {
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #00000077;
  border-radius: 10px;
  padding: 6px;
}
.teamMember img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
/* =================================================================
=================================================================
================================================================= */
/* Responsive Design */

/* For small device */
@media (max-width: 576px) {
  /* Header Section  */
  .header,
  .heroDescription,
  .habitsContainer {
    padding: 0px;
    margin: 0px;
  }
  .navLinks {
    display: none;
  }

  .navIcon {
    display: inline;
  }

  .navbar {
    padding: 20px;
  }

  /* Hero Section */
  .heroSection {
    flex-direction: column;
  }

  .heroTitle {
    font-size: 40px;
    text-align: center;
  }

  .heroSubTitle {
    text-align: center;
  }

  .heroBtns {
    justify-content: center;
  }

  .heroImageCard1 {
    top: 90px;
    right: 10px;
  }

  .heroImageCard2 {
    bottom: 90px;
    left: 10px;
  }

  /* Change Your Habits Section */
  .habitsCard {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  /* Extra Run Style */

  .runContainer {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0px;
    margin: 20px;
  }
  .runText,
  .runImage {
    text-align: center;
    padding: 20px;
  }
  .runImage img {
    width: 100%;
    border-radius: 18px;
  }

  /* BMI Calculator Style */

  .bmiContainer {
    padding: 0px;
    margin: 0;
  }

  .bmiHeader {
    padding: 0px;
    text-align: center;
  }

  .bmiBody {
    padding: 20px 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bmiCalculator {
    width: 80%;
  }

  .bmiTable,
  .calculatorTitle,
  .calculatorSubTitle {
    text-align: center;
  }

  /* Form Style */
  .calculatorForm {
    grid-template-columns: 45% 45%;
    justify-content: center;
  }
  #activity {
    grid-column: span 2;
  }

  /* Meet Our Team Style */
  .teamContainer {
    padding: 0px;
  }

  .teamMembers {
    grid-template-columns: 1fr;
    margin: 20px;
  }
}
