@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pinyon+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.btnRed {
    border-radius: 46px;
    background: #e6533c;
    padding: 8px 16px;
}

.header {
    background: linear-gradient(180.00deg, #111111, #77777700 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.navTitle {
    color: #e6533c;
    font-size: 36px;
    font-weight: 800;
}

.navIcon {
    display: none; /* For big devices, it's hidden */
    color: #ffffff;
    font-size: 36px;
}

.navLinks {
    width: auto;
    border: 2px solid #ffffff1a;
    border-radius: 40px;
}

.navLinks ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 8px;
    margin: 0;
    list-style: none;
}

.navLinks a {
    text-decoration: none;
    color: #ffffff;
    padding: 0px 20px;
}









/* Responsive Design */

/* For small device */
@media (max-width: 576px) {
    .navLinks {
        display:none;
    }

    .navIcon {
        display: inline;
    }

    .navbar {
        flex-direction: row;
        padding: 20px;
    }
}